*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $color-light;
}
