/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9) !important;
}

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
  font-size: 19.2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  padding: 6px 10px 6px 10px;
  border-radius: 0;
  background-color: #2c71b6;
}

.btn-outline-success:hover {
  color: #2c71b6;
  background-color: #ffffff;
  border-color: #2c71b6;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
  content: ">";
}

.breadcrumb {
  padding: 16px 0 0 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 14px;
}
.breadcrumb a,
.breadcrumb .active {
  color: #ffffff;
}

header {
  border-bottom: 1px solid #ffffff;
}

.header-navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-left: -15px;
  margin-right: -15px;
}

.header-navbar-link {
  font-size: 19.2px;
  color: #2c71b6 !important;
  white-space: nowrap;
}

.header-navbar-search {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 50px;
  border: 1px solid #2c71b6;
}
.header-navbar-search .btn {
  margin: 5px;
  padding: 0;
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}
.header-navbar-search .btn i {
  display: block;
  padding: 10px;
}

.header-navbar-btn {
  background-color: #ffffff;
  color: #2c71b6;
  border: none;
  margin-left: 30px;
  position: relative;
  width: 50px;
  height: 50px;
}
.header-navbar-btn i {
  font-size: 24px;
}
.header-navbar-btn:hover {
  background-color: #2c71b6;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-carousel {
  background-color: rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #ffffff;
}

.main-title__filter {
  background-color: #2c71b6;
  color: #ffffff;
  border-color: #ffffff;
  font-size: 20px;
  padding: 3px 10px 5px 10px;
  margin-top: 6px;
}
.main-title h1 {
  font-size: 45.6px;
}
.main-content {
  margin-top: 30px;
}

.content-item__wrapper {
  border: 1px solid #ffffff;
  position: relative;
  margin-bottom: 30px;
}
.content-item__img {
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.content-item__actions {
  position: absolute;
  top: 5px;
  right: 5px;
}
.content-item__actions .btn {
  display: block;
  background-color: transparent;
  border-color: #2c71b6;
  color: #2c71b6;
  margin-bottom: 5px !important;
  width: 30px;
  height: 30px;
  padding: 0;
}
.content-item__actions .btn:hover {
  background-color: #2c71b6;
  color: #ffffff;
}
.content-item .containet-fluid {
  padding: 0 15px;
  background-color: rgba(44, 113, 182, 0.5);
}
.content-item__title {
  font-size: 28px;
  padding-top: 12px;
}
.content-item__text {
  font-size: 20px;
  line-height: 24px;
}
.content-item__characteristics {
  font-size: 20px;
  line-height: 28px;
  margin-top: 15px;
}
.content-item__characteristics span {
  display: block;
  margin: 7px 0;
}
.content-item__price {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}
.content-item__btn {
  padding: 15px;
}
.content-item__btn .content-item__btn-cart,
.content-item__btn .content-item__btn-more {
  background-color: transparent;
  border: 1px solid #ffffff;
  line-height: 27.6px;
  margin-bottom: 30px !important;
  text-transform: uppercase;
  font-size: 18.4px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 5px 10px 5px;
}
.content-item__btn .content-item__btn-cart:hover,
.content-item__btn .content-item__btn-more:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #2c71b6;
}
.content-item__btn .content-item__btn-cart {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 15px !important;
}
.content-item__btn .content-item__btn-cart i {
  font-size: 16px;
  margin-left: 5px;
}

.content-more {
  margin-bottom: 30px;
  text-align: center;
}
.content-more a {
  font-size: 32px;
  color: #ffffff;
}

.sidebar-filter {
  padding: 15px 30px 30px 30px;
  color: #ffffff;
}
.sidebar-filter .form-group {
  margin-bottom: 16px;
}
.sidebar-filter legend {
  font-weight: bold;
}
.sidebar-filter .form-check {
  margin: 10px 0 10px 0;
}
.sidebar-filter .form-check-input {
  width: 0;
  height: 0;
}
.sidebar-filter .form-check-input::before {
  content: "";
  display: block;
  border: 1px solid #ffffff;
  width: 12.8px;
  height: 12.8px;
  margin-top: 5.6px;
}
.sidebar-filter .form-check-input:checked::before {
  background-color: #ffffff;
}
.sidebar-filter .form-check-label {
  margin-left: 8px;
  font-size: 20px;
}
.sidebar-filter__more {
  color: #ffffff;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
}
.sidebar-filter__btn {
  background-color: #2c71b6;
  border-radius: 0;
  border: 1px solid #ffffff;
}

.footer {
  background-color: rgba(255, 255, 255, 0.8);
}
.footer-copyright {
  text-align: center;
  font-size: 20px;
  color: #2c71b6;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .navbar-nav {
    padding-right: 30px;
    padding-left: 70px;
    width: calc(100% - 220px);
  }
  .navbar-nav > .nav-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    border-left: 1px solid #2c71b6;
  }
  .navbar-nav > .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .header-navbar-search .form-control {
    width: 160px !important;
  }
  .sidebar-filter {
    background-color: rgba(255, 255, 255, 0.25);
    border-right: 1px solid #ffffff;
  }
}
@media (max-width: 991.8px) {
  .sidebar-filter {
    border-top: 1px solid #ffffff;
  }
}